<%if (typeof user == 'object' && user){%>
Welcome, <%=user.firstName%>
<p>Welcome to your trading card selector.</p>
<%}else{%>
    <p>Welcome to your trading card generator.</p>
  
    <%}%>

   



    
   <script>
    
   </script>
