<%if (typeof user == 'object' && user){%>
Welcome, <%=user.firstName%>
<p>Welcome to your trading card selector.</p>
<%}else{%>
    <p>Welcome to your trading card selector.</p>
   <p> To select yours,  <a id="tinyLogin">sign in</a> or <a onclick="registerLarge()">register</a> to begin.</p>
    <%}%>


   <script>
    
   </script>
