<%if (typeof user == 'object' && user){%>
Welcome, <%=user.firstName%>
<p>Welcome to your trading card selector.</p>
<%}else{%>
    <p>Welcome to your trading card selector.</p>
   <p> To select yours, <a onclick="registerLarge()">register</a> to begin.</p>
    <%}%>

    <div>go to  <%if(typeof user =='object' && user.isAdmin){%><a href="/admin">admin</a><%}%> panel</div>



    
   <script>
    
   </script>
