<div id="imgControlArrows_<%= cardId %>" class="imgControlArrows" data-card-id="<%= cardId %>">
<div class="imgControls">
  <button class="imgUpArrow">Up</button>
  <button class="imgDownArrow">Down</button>
  <button class="imgLeftArrow">Left</button>
  <button class="imgRightArrow">Right</button>
  <button class="imgScaleUpButton">Scale +</button>
  <button class="imgScaleDownButton">Scale -</button>
</div>
</div>