<!-- Add controls for font0Size, text0PositionX, and text0PositionY -->
<div id="text3Controls<%= cardId %>" class="text3Controls" data-card-id="<%= cardId %>">

  <div class="textControls">
<h8>royal size</h8>
    <button id="increaseFontRoyal_<%= cardId%>">+</button>
    <button id="decreaseFontRoyal_<%=cardId%>">-</button>

  </div>
</div>
