<!-- Add controls for font0Size, text0PositionX, and text0PositionY -->
<div id="textControlArrows_<%= cardId %>" class="textControlArrows" data-card-id="<%= cardId %>">

  <div class="textControls">
    <button class="textUpArrow">Up</button>
    <button class="textDownArrow">Down</button>
    <button class="textLeftArrow">Left</button>
    <button class="textRightArrow">Right</button>
    <button class="fontUpButton">Font +</button>
    <button class="fontDownButton">Font -</button>
  </div>
</div>

