<div id="imgControlArrows_<%= cardId %>" class="imgControlArrows" data-card-id="<%= cardId %>">
<div class="imgControls">
  <button class="imgUpArrow">Up</button>
  <button class="imgDownArrow">Dn</button>
  <button class="imgLeftArrow">L</button>
  <button class="imgRightArrow">R</button>
  <button class="imgScaleUpButton">+</button>
  <button class="imgScaleDownButton">-</button>
</div>
</div>