<!-- controlArrows.ejs -->
<div id="controlArrows">
    <button id="upArrow">Up</button>
    <button id="downArrow">Down</button>
    <button id="leftArrow">Left</button>
    <button id="rightArrow">Right</button>
    <button id="scaleUpButton" >scaleUp</button>
    <button id="scaleDownButton" >scaleDown</button>
  </div>
  