<!-- Add controls for font0Size, text0PositionX, and text0PositionY -->
<div id="text2Controls<%= cardId %>" class="text2Controls" data-card-id="<%= cardId %>">

  <div class="textControls">
<h8>name size</h8>
    <button id="increaseFont_<%= cardId%>">+</button>
    <button id="decreaseFont_<%=cardId%>">-</button>

  </div>
</div>
