<div class="uploadFonts">
    <h3>Upload Fonts:</h3>
    <form action="/admin/uploadFonts" method="post" enctype="multipart/form-data">
      <input type="file" name="fonts" multiple>
      <input type="submit" value="Upload Fonts">
    </form>
  </div>