<div class="footerContainer">


<div class="footerDiv">
    <div class="footImg">
        <img class="footImg" src="/images/logoHat.png" alt="">
    </div>
</div>
<div class="footerDiv">Red Hat's Society and Royal Splendor are excited to see your designs show!</div>
<div class="footerDiv">
    <div class="footImg">
        <img class="footImg" src="/images/tokenLogo.png" alt="">
    </div>
</div>



</div>
<h6>This progressive web application is developed by <a style="color:rgb(255, 225, 230)" href="">W2 Marketing LLC </a>, and is licensed for exclusive use by Royal Splendor and their operating partners. All rights reserved.</h6>