<%- include('./border')%>
<div class="footerContainer">
<div class="footerDiv">
    <div class="footImg">
        <a href="https://redhatsociety.com">
        <img class="footImg" src="/images/logoHat.png" alt="">
    </a>
    </div>
</div>
<div class="footerDiv">Red Hat Society and Royal Splendor are excited to see your designs show!</div>
<div class="footerDiv">
    <div class="footImg">
        <a href="https://royalsplendor.com">
        <img class="footImg" src="/images/tokenLogo.png" alt="">
    </a>
    </div>
</div>



</div>
<h6>This progressive web application is developed by <a style="color:rgb(255, 225, 230)" href="https://w2marketing.biz">W2 Marketing LLC </a>, and is licensed for exclusive use by Royal Splendor and their operating partners. All rights reserved.</h6>