
<!-- Inside ./partials/login.ejs -->

    <!---login button-->
    <%if(typeof user == 'object' && user){%>
      <p>     You are logged in as <%=user.firstName%> <%=user.lastName%></p>
 
      <a href="/logout"> <button>logout</button></a>
 
  <button id="loginClose">close</button>
  <%}else{%>
  <p>   Hi, Please login or register to design your cards  </p>
 
     
      <%}%>

<%if(typeof user=="object" && user){%>
    welcome <%=user.firstName%>


    <%}else{%>
    <div class="loginForm">
        <form action="/auth/local" method="post">
            <div>
                <label for="email">email:</label><br>
                <input type="text" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    
      </div>
      <button onclick="registerLarge()" id="registerButton">register w/ email</button>
<h4>-or-</h4>
        <h3>one touch sign-in/register with:</h3>
  
        <a href="./auth/google"> <div class="oneTouchLogin">  <img class="oneTouchLogin" src="/images/google.png"></div></a>



        <%}%>
  