
<!-- Inside ./partials/login.ejs -->
<!---login button-->
<%if(typeof user == 'object' && user){%>
<div class="loginBox">
      <p>     You are logged in as <%=user.firstName%> <%=user.lastName%></p>
      <p>     email <%=user.email%></p>
 
      <a href="/logout"> <button>logout</button></a>
 
  <button id="loginClose">close</button>
  <%}else{%>

 
     
      <%}%>

<%if(typeof user=="object" && user){%>
    
    
    <%}else{%>
        <h2>   Sign in options:  </h2>
        <h6 style="margin: 0;padding: 0;transform: translateY(-50%);" id="loginCloseTiny"><a>Close this window</a></h6>
        <div class="loginForm">
            <p><span class="accent">Option #1:</span> email and password</p>
            
            <form action="/auth/local" method="post">
            <p>*Notice to <u style="font-weight: 800;"> all first time users</u>: You must register with your favorite email to use option #1*</p> <a id="regLastLink">Register email here.</a> 
        <br>
                <label for="email"> Email:</label><br>
                <input type="text" id="email" name="email" required>
         <br>
                <label for="password"> Password:</label><br>
                <input type="password" id="password" name="password" required>
   
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
     
          
  
    </div>
    
   
    
    <div class="loginForm">
    <p><span class="accent">Option #2:</span> Register and login with your Google account:</p>
  
    
    <a href="./auth/google">
        <div class="oneTouchLogin">  
            <img class="oneTouchLogin" src="/images/google.png">   </div></a>
    <!--a href="./auth/yahoo">
        <div class="oneTouchLogin">  
            <img class="oneTouchLogin" src="/images/icons/yahoo_icon.png">   </div></a-->
    
 
    </div>
</div>
    
    <%}%>
