
<!-- Inside ./partials/login.ejs -->
<!---login button-->
<div class="loginBox">
    <%if(typeof user == 'object' && user){%>
      <p>     You are logged in as <%=user.firstName%> <%=user.lastName%></p>
      <p>     email <%=user.email%></p>
 
      <a href="/logout"> <button>logout</button></a>
 
  <button id="loginClose">close</button>
  <%}else{%>

 
     
      <%}%>

<%if(typeof user=="object" && user){%>
    
    
    <%}else{%>
        <h2>   sign in options:  </h2>
        <div class="loginForm">
            <p><span class="accent">option #1:</span> email and password</p>
            
            <form action="/auth/local" method="post">
            <p>have you registered an email befor you have logged in? <a onclick="registerLarge()">register email here</a>  </p>
          
            <h2>LOGIN</h2>
                <label for="email"> email:</label><br>
                <input type="text" id="email" name="email" required>
         <br>
                <label for="password"> Password:</label><br>
                <input type="password" id="password" name="password" required>
   
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
     
          
  
    </div>
    
   
    
    <div class="loginForm">
    <p><span class="accent">option #2:</span> register and login with your google account:</p>
  
    
    <a href="./auth/google">
        <div class="oneTouchLogin">  
            <img class="oneTouchLogin" src="/images/google.png">   </div></a>
    
 
    </div>
</div>
    
    <%}%>
