
<!-- Inside ./partials/login.ejs -->

    <!---login button-->
    <%if(typeof user == 'object' && user){%>
      <p>     You are logged in as <%=user.firstName%> <%=user.lastName%></p>
      <p>     email <%=user.email%></p>
 
      <a href="/logout"> <button>logout</button></a>
 
  <button id="loginClose">close</button>
  <%}else{%>

 
     
      <%}%>

<%if(typeof user=="object" && user){%>
    
    
    <%}else{%>
        <h2>   sign in options:  </h2>
    <div class="loginForm">
        <p>option #1: email and password</p>
    
        <form action="/auth/local" method="post">
            <div>
                <label for="email">email:</label><br>
                <input type="text" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
     
            <p>have you registered an email yet? <a onclick="registerLarge()">register email here</a>  </p>
          
  
    </div>
    
   
    
    <div class="loginForm">
    <p>option #2: google emails one touch:</p>
  
    
    <a href="./auth/google">
        <div class="oneTouchLogin">  
            <img class="oneTouchLogin" src="/images/google.png">   </div></a>
    
 
    </div>
 
    
    <%}%>
