<div>    
</div>
<div id="cartButtonDiv"><img id="cartButton" src="./images/icons/cart.png" alt=""></div>
<%if(typeof user == 'object' && user){%>
 <%let firstInit = user.firstName.charAt(0);%>
 <%let lastInit = user.lastName.charAt(0);%>
    <div id="avatar">
       <span class="menuInitials"> <%=firstInit%></span>
       <span class="menuInitials"> <%=lastInit%></span>
       </div>
    <%}else{%>
        <div id="avatar">
 <h2> sign in</h2>
</div>
    <%}%>
</div>