
<h2>Review Orders</h2>
<%if(typeof ordersPaypal=='object'&& ordersPaypal ){%>
   there are orders
   <%for(let i =0;i<ordersPaypal.length;i++){%>

      <%if(ordersPaypal[i].paypalCompleted=="true"){%>
        <div>
           <%=ordersPaypal[i].customId%>
           <%=ordersPaypal[i].Amount%>
        </div>
      <%}%>

    <%}%>

    <%}else{%>
no active orders        
        <%}%>