<h3>Let your regal spirit shine with ..</h3>
<h2><span class="span_branded"> Royal Splendor Printing</span></h2>
<h1 >Welcome Red Hatters!!</h1>
<p class=""style="padding:2%"> As a member of the Red Hat Society, you embody elegance and joy. Our personalized trading cards offer a unique way to capture and celebrate your individuality. Each card is a testament to your vibrant personality and royal flair.</p>
<%- include('./border')%>
<p> Begin your journey of self-expression by customizing your very own trading card today. A keepsake that reflects the essence of your regal being. Browse our designs and purchase yours today!</p>