<h1 >Welcome Red Hatters!!</h1>
<h3 >Let your regal spirit shine with ..</h3>
<h2><span class="span_branded"> Royal Splendor Printing</span></h2>
<p class="fontType"> As a member of the Red Hat Society, you embody elegance and joy. Our personalized trading cards offer a unique way to capture and celebrate your individuality. Each card is a testament to your vibrant personality and royal flair. Embrace your royal flair with personalized trading cards from the Red Hat Society. Celebrate your vibrant personality and elegance in style. Get yours now! <br><br>Begin your journey of self-expression by customizing your very own trading card today. A keepsake that reflects the essence of your regal being. Browse our designs and purchase yours today!</p>
<%- include('./border')%>
<h1>Red Hat Trading Cards Pricing and Collection</h1>
<table class="fancyPricing">
    <th class="fancyPricing">quantity</th>
    <th class="fancyPricing"> your price</th>
    <th class="reducedPricing">full price</th>
    <tbody class="fancyPricing">
        <tr class="fancyPricing">
            <td class="fancyPricing">100 ct</td>
            <td class="fancyPricing">$34.99</td>
            <td class="reducedPricing">$38.49</td>
        </tr>
        <tr class="fancyPricing">
            <td class="fancyPricing">250 ct</td>
            <td class="fancyPricing">$49.99</td>
            <td class="reducedPricing">$54.99</td>
        </tr>
        <tr class="fancyPricing">
            <td class="fancyPricing">500 ct</td>
            <td class="fancyPricing">$69.99</td>
            <td class="reducedPricing">$76.99</td>
        </tr>
        <tr class="fancyPricing">
            <td class="fancyPricing">1000 ct</td>
            <td class="fancyPricing">$79.99</td>
            <td class="reducedPricing">$87.99</td>
        </tr>
    </tbody>
</table>
<h5>*taxes and processing apply at checkout</h5>