<h1><span class="span_branded">Welcome Royals</span></h1>
<p class="fontType">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quia consequuntur aut, quas soluta omnis porro facilis consequatur natus voluptas neque, eligendi tenetur alias necessitatibus! Expedita quos facilis optio unde!</p>