<!DOCTYPE html>

<head> 
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>view and buy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
  <script src="https://www.paypal.com/sdk/js?client-id=<%=config.companyPaypal%>&currency=USD&intent=capture&enable-funding=venmo" data-sdk-integration-source="integrationbuilder"></script>
</head>
<body>      
  
    <div id="header">
        <div id="headerContainer_cell">
          <img class="header"src="/images/banner_cell.jpg" alt="">
        </div>
        <div id="headerContainer_desk">
          <img class="header"src="/images/banner_desk.jpg" alt="">
        </div>
      </div>
  <div id="main">
      Nancy is going to have some words with her developer: <br>
      <h3>error message: <%=error%></h3>
      
      <a href="<%= error.redirect %>">Go back</a>
      <h6>status code: <%=error.status%></h6>
   
    <script src="/javascripts/loader.js"></script>
</body>
    </html>