//////////////
//////////////
/// Screen QUERY//
//////////////
//////////////
$screenQueryReg:768px;

/////////////////
/////COLORS/////
////////////////
//PURPLES
$purple: #450b5a;
$purpleShadow: rgba(61, 0, 61, 0.481);
//RED
$red: #932432;
$redShadow: rgba(234, 20, 20, 0.701);
//BLUE
$blue:rgb(26, 26, 164);
$blueShadow:rgb(0, 0, 165);
//BLACKS
$black:black;
$blackShadow:rgba(0, 0, 0, 0.197);
//WHITES
$white:white;
$whiteShadow:rgba(255, 255, 255, 0.737);
//OFFWHITES
$offWhite:#e1dcd5;
//LAYOUT COLORS
$primaryColor:$purple;
$secondaryColor:$red;
$accentColor:$blue;
//BACKGROUNDS
$primaryBackgroundColor:$offWhite;
$secondaryBackgroundColor:$purple;
//BORDERS
$primaryBorderColor:$black;
$secondaryBorderColor:$red;
//SHADOWS
$primaryShadowColor:$black;
$secondaryShadowColor:$redShadow;
////////////////////////
//Font Variables
$maph: "mayphylla";
$weat: "sunday";
$aqua: "aquarelle";
$back: "backlash";
$mini: "MinonPro";
//TYPEFACES
$primaryFontColor:$black;
$secondaryFontColor:$white;
$linkFontColor:$blue;
$accentFontColor:$red;
@font-face {
  font-family: $maph;
  src: url('/fonts/maphylla.otf');
}
@font-face {
  font-family: $weat;
  src: url('/fonts/weatherSunday.otf');
}
@font-face {
  font-family: $aqua;
  src: url('/fonts/aquarelle.ttf');
}
@font-face {
  font-family: $back;
  src: url('/fonts/backslash.otf');
}
@font-face {
  font-family: $mini;
  src: url('/fonts/MinionPro-SemiBold.otf');
}

$primaryFontFamily:$mini;
$regularFontSize:1.8rem;
$mediumFontSize:2rem;
$largeFontSize:3rem;
$inputFontSize:2rem;
$labelFontSize:1.7rem;
$inputSubmitFontSize:1.5rem;
$inputLabelFontSize:2.5rem;
$avatarFontSize:2rem;
$accentFontFamily:$weat;

//font DIVs
.font{
  &_aqua{font-family: $aqua;}
  &_weat{font-family:$weat}
  &_maph{font-family:$maph}
  &_back{font-family:$back;}
  &_mini{font-family:$mini;}
}
.fontType::first-letter{
    font-size: 3rem;
    font-family: $accentFontFamily;
  }

// Mixins
@mixin main() {
  color: $primaryFontColor;
}
@mixin divBorder() {
  border: 6px solid $secondaryBorderColor;
  border-radius: 50px;
  background-color: $primaryBackgroundColor;
  padding: 3%;
}
@mixin transistionProps() {
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
}

// Mixins
@mixin main() {
  color: $primaryFontColor;
}
@mixin divBorder() {
  border: 6px solid $secondaryBorderColor;
  border-radius: 50px;
  background-color: $primaryBackgroundColor;
  padding: 3%;
}
@mixin transistionProps() {
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
}
@mixin regMedia{
  font-size: .5rem;
  margin: 1%;
  padding:0;
  
}

// Global Styles
html {
  text-align: center;
  margin: 0;
  padding: 0;
}
body {
  display: none;
  font-family: $primaryFontFamily;
// background-image: url('../images/logoHat.png');
// background-repeat: repeat;
// background-blend-mode:lighten;
// background-size: 200px;

 // background-color: $primaryBackgroundColor;
  margin: 0;
  padding: 0;
}
#main{
  @media (min-width:$screenQueryReg) {
  width:50%;
  margin-left:48%;
  }
}
a {
  color: $linkFontColor;
  @media (min-width:$screenQueryReg) {
 // @include regMedia()
  }
}
h2{
  font-size: $regularFontSize;
  @media (min-width:$screenQueryReg) {
  //  @include regMedia()
    }
}
li{
  font-size: $mediumFontSize;
  @media (min-width:$screenQueryReg) {
  // @include regMedia()
    }
}
p{
  font-size: $regularFontSize;
  @media (min-width:$screenQueryReg) {
  //  @include regMedia()
    }
}
button {
  width: 84%;
  height:55px;
  border-radius: 5px;
 margin:3%;
 margin-top: 5%;
  border: 5px solid $secondaryBorderColor;
  font-size: $regularFontSize;
  color: $primaryFontColor;
  font-family: $primaryFontFamily;
  //font-size: 1rem;
  @media (min-width:$screenQueryReg) {
    @include regMedia()
    }
}

// Keyframes
@keyframes flash {
  0%, 66%, 100% { opacity: 0; display: none; }
  33% { opacity: 1; display: block; }
}
@keyframes slideUp {
  0% { transform: translateY(200%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@keyframes slideUpLogin {
  0% { transform: translateY(200%); opacity: 0; }
  100% { transform: translateY(5%); opacity: 1; }
}
@keyframes slideUpAvatar {
  0% { transform: translateY(200%); opacity: 0; }
  100% { transform: translateY(50%); opacity: 1; }
}
@keyframes promoFlash {
  0%{opacity: 1;}
  44%{opacity: 1;}
  45%{opacity: .3;}
  49%{opacity: 1;}
  51%{opacity: 1;}
 52%{opacity: .3;}
 54%{opacity: .3;}
 55%{opacity: 1;}
  100%{opacity: 1;}
}
//cell 300X425px 
//desk 250X850px 
//header
$headerCellHeight:400px;
$headerDeskHeight:250px;
.span_branded{
  margin: 3%;
  color: $accentFontColor;
  font-family: $accentFontFamily;
  font-size: 3rem;
}
.header{
  width: 100%;
}
#header{

 width: 100%;
 @media (min-width:768px){
 
  }
}
#headerContainer{
 
  width: 100%;
  
  @media (min-width:768px){

    
  }
}
// Flash Message
.flashMessage {
  @include transistionProps();
  display: none;
  background-color: $secondaryFontColor;
  padding: 4%;
  position: fixed;
  bottom: 10%;
  left: 0;
  width: 100%;
  animation: flash 3s ease-in-out 0 4;
}

// Card Styles
.card-container {
  display: block;  
  height: 60%;
//margin: 2%;
//padding: 2%;

}
.stats{
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.stat{
  font-size: $mediumFontSize;
  border: 2px dotted $primaryBorderColor;
}
#cards{
display: block;
margin: 0;
padding: 0;
}
$cardDimention:525px;
.card {
  align-items: center;
  min-width: $cardDimention;
  max-width: $cardDimention ;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 margin-left:50%;
  margin-top: 10%;
 transform: translateX(-50%);

  padding: 20px;
}
.cardHead::before{
border-top: 5px solid $primaryBorderColor;
}
.card label, input[type="text"] {
  margin-top: 10px;
  width: 99%;
 // margin-left: 50%;
 // transform: translateX(-50%);
  height: 32px;
  font-size: $inputFontSize;
  font-weight: 200;
  padding: 1%;
  margin-bottom:5%;
}
.card-container p,.card-container input, label{
  font-size: $labelFontSize;
  font-weight:800;
  font-family:$primaryFontFamily;
}
input[type="submit"], select , input[type="file"] {
  background-color: $secondaryBackgroundColor;
  color: $secondaryFontColor;
  width: 90%;
  // padding: 10px 20px;
  margin: 2%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: $inputSubmitFontSize;
}
input[type="submit"]:hover {
  margin: 2%;
  background-color: $primaryShadowColor;
}
.textControls, .imgControls{
  button{
    width: 45px;
  }
}
.cardFrontFrame {
  position: relative;
 // width: 100%;
  max-width: $cardDimention;
}
.cardBackFrame{
 // width: 100%;
  max-width: $cardDimention;

}
.cardImg  {
  position: relative;
  width: 100%;
  z-index: 2;
}

.cardImg img {
  width: 100%;
}

.headshot {

  z-index: -1;
  max-width: 100px; /* Adjust as needed */
}
.textTitles{
max-width: 78%;
z-index: -1;
display: grid;
grid-template-columns: 1fr 2fr;
text-align: left;
overflow-x:unset;
}
.textBox{
max-width:78%
}
.dynoData{

}
.imgControlArrows{
  z-index: 25;
}

//////card stuff
.deleteCardWarning {
  display: none;
  background-color: $red; /* Red background */
  color: white;
  text-align: center;
  border: 1px solid #ccc;
  bottom: 5%;
  padding: 10px;
  position: fixed;
  z-index: 4;


}
.cardDate{
  padding: 2%
}
#cardUploadDiv, #uploadFonts{
  @include divBorder();
  background-color: $secondaryFontColor;
  box-shadow: 2px 2px $secondaryShadowColor;
  animation: 1.1s 0s 1 slideUpLogin;
  }
#cardBkgrd {
  width: 100%; // test dimension
  //height: 200px; // test dimension
  background-image: url('../images/svgs/blob.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
#sampleFace {
  z-index: -1;
}

#cardFrontPreview {
  z-index: 1;
}
.formData{
  //width: 100%;
  //margin-left: 35%;
  @include divBorder();
}
.userData{
  width:80%;
  margin-left:5%;
  @include divBorder();
  margin-top:2%;
}
.arrowControl{
width: 30%;
  margin-left: 35%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.arrowButton{
  width: 30%;
  height: 30%;
}
.sampleFace{
  max-width: 30%;
//   position: absolute;
  z-index: 0;

 }

#login, #register{
  font-size: $largeFontSize;
  width: 84%;
  margin-left: 3%;
  display:none;
  position: fixed;
  top: 12%;
margin-bottom:12%;
z-index: 100;
  transform: translateY(5%);
@include divBorder;
    //animation depenancies
    transition-timing-function: ease-in-out;
    transform-style: preserve-3d;
    box-shadow: 2px 2px $secondaryShadowColor;
    animation: 2s 0s 1 slideUpLogin;
 
  @media (min-width:$screenQueryReg) {
 @include regMedia();
  }
}
.oneTouchLogin{
  border:2px solid $primaryBorderColor;
  margin: 2%;
  img{
    width: 85px;
    border: none;
  }
}
.loginForm{
 // border:1px solid black;
  box-shadow: 5px 5px 25px $secondaryShadowColor;
  overflow-y: scroll;
}
#menu {
  position: fixed;
  bottom: 0%;
  left: 0%;
  min-height: 12%;
  width: 100%;
  background-color: $red;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  @media (min-width:$screenQueryReg) {
    width:30%;
    top:0;
    left:0;
  }
}
$avatarDimention:124px;
#avatar {
  position: absolute;
  font-family: $maph;
  font-size: $avatarFontSize;
  border-radius: 50%;
  border: 6px solid $secondaryBorderColor;
  background-color: $primaryBackgroundColor;
  height: $avatarDimention;
  width: $avatarDimention;
  bottom: 50%;
  transform: translateY(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 18px;
  word-wrap: break-word;
  box-shadow: 2px 2px $secondaryShadowColor;
  //animation depenancies
  @include transistionProps();
  animation: 2s 0s 1 slideUpAvatar;

}
.menuInitials{
  font-size: 10rem;
}
//MENU STUFF
#cardUploadDiv, #draftCards, #uploadFonts {
  display: none;
}


#canvas0 {
  /* Add styles for your canvas here */
  background-color: lightgray;
}

#overlay0 {
  /* Add styles for your overlay div here */
  position: absolute;


  max-width: 232px;

  top: 360px;
  //left: 0;
  width: 100%;
  //height: 100%;
  background-color: rgba(255, 0, 0, 0.5); /* Change the background color and opacity as needed */
  pointer-events: none; /* This allows interactions with the canvas below */
}

#filler{
  min-height: 400px;
}
.colorsContainer{
  margin-bottom: 300px;
}

.cartDiv{
  width: 80%;
  margin-left: 5%;
 @include divBorder();
}
  #cart{
    display: none;
    min-height: 100%;
    min-width: 100%;
    background-color: $primaryBackgroundColor;
    position: fixed;
    top:0;
    left:0;
    z-index: 20;
    
  }
  #cartButtonDiv{    
    transform: translateX(-42%);
  }
  #cartButton{
  z-index: 3;
  margin:0;
  padding:0;
  width: 24%;
  filter:hue-rotate(320deg)
}
#promoMessage{
  animation:  promoFlash 6s ease-in-out 0s infinite;
}
.cartTableDiv{
  width:100%;
}
.cartTable{
  width:100%;
}