
/***fonts**/
@font-face {
  font-family:"mayphylla" ;
  src: url('/fonts/maphylla.otf');
}
$may:"mayphylla";

@font-face {
  font-family:"sunday" ;
  src: url('/fonts/weatherSunday.otf');
}
$sun:"sunday";

@font-face {
  font-family:"aquarelle" ;
  src: url('/fonts/aquarelle.ttf');
}
$aqua:"aquarelle";

@font-face {
  font-family:"backlash" ;
  src: url('/fonts/backlash.otf');
}
$back:"backlash";
/*fonts END*/


@mixin main(){
  color:black; 
}
//div states
#menu,#payment,#admin,#user{
  display: none;
}

body {
  padding: 50px;
font-family: $back;
}
h1{

}
a {
  color: #00B7FF;
}
